.App {
  text-align: center;
  /* border: 1px solid gray; */
  width: 50vw;
  height: 60vh;
  margin: 40px 120px;
  box-shadow: 0px 1px 6px #0000000d;
  padding: 1rem;
  border: 1px solid #f3eded;
  background-color: rgb(223, 248, 248);
}

input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid gray;
  border-radius: 0.2.5rem;
  transition: border-color 0.15s;
}

.box_design {
  outline: none;
  border: 1px solid gray;
  padding: 5px;
  max-width: 4ch;
}
.creditCard {
  display: flex;
  color: #a5afb9;
  justify-content: center;
}
.credit_Card {
  margin-top: 20px;
}
.input_box {
  margin-left: 10px;
  border: 2px solid rgb(176, 228, 228);
  border-radius: 5px;
}
